include ./head.pug
body
  .container
    .row
      h1.display-4 Prixz - Mercadopago 
    .row
      .col-sm
        h2.display-6 Instrucciones
        p Puedes probar con las siguientes tarjetas:
          ul.list-group
            li.list-group-item 4075 5957 1648 3764	
              span.badge.badge-primary Visa
            li.list-group-item 5474 9254 3267 0366	
              span.badge.badge-primary MasterCard
            li.list-group-item 3766 7520 5781 151 
              span.badge.badge-primary Amex
      .col-sm
        h2.display-6 Respuestas
        p Para probar distintas respuestas intenta agregando los siguentes prefijos en el nombre del titular
          ul.list-group
            li.list-group-item APRO 
              .span.badge.badge-info Pago aprobado
            li.list-group-item CONT 
              .span.badge.badge-info Pago pendiente
            li.list-group-item CALL 
              .span.badge.badge-info Rechazo llamar para autorizar
            li.list-group-item FUND 
              .span.badge.badge-info Rechazo por monto insuficiente
            li.list-group-item SECU 
              .span.badge.badge-info Rechazo por c贸digo de seguridad
            li.list-group-item EXPI 
              .span.badge.badge-info Rechazo por fecha de expiraci贸n
            li.list-group-item FORM 
              .span.badge.badge-info Rechazo por error en formulario
            li.list-group-item OTHE 
              .span.badge.badge-info Rechazo general
      .col-sm
        h2.display-6 La prueba
        p El siguiente bot贸n inicia la secuencia de pago
            form.form-group(action="/procesar-pago", method="post")
              script(src='https://www.mercadopago.com.mx/integrations/v1/web-tokenize-checkout.js' 
                      data-public-key=publicKey 
                      data-transaction-amount=total
                      data-button-label="Proceder a Pago"
                      data-elements-color="#c0392b"
                      data-header-color="#c0392b"
                      data-summary-product-label="4 productos"
                      data-summary-product=amount
                      data-summary-discount-label="Cup贸n"
                      data-summary-discount=discount
                      data-summary-shipping=shipping
                      data-summary-taxes=tax
                      taxes_amount=tax)
